body {
  font-family: $poppins;
}

p {
  font-size: 15px;
  line-height: 26px;

  margin-bottom: 15px;

  letter-spacing: 0;

  color: $body-text-color;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 28px;

    margin-bottom: 19px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 17px;
    line-height: 30px;
  }
}

h1 {
  font-family: $calistoga;
  font-size: 30px;
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

h3,
h2 {
  font-size: 30px;
  line-height: 30px;

  margin-bottom: 18px;

  color: theme-color("primary");
}

h4 {
  font-size: 30px;
  line-height: 30px;

  margin-bottom: 18px;

  color: theme-color("primary");
}

h5 {
  font-size: 26px;
  line-height: 30px;

  margin-bottom: 18px;

  color: theme-color("primary");
}

ol,
ul,
dl {
  padding-inline-start: 17px;
}

.container.no-row,
.container-fluid.no-row {
  // @include media-breakpoint-up(md) {
  padding: 0;
  // }
}

.home .wrap {
  padding-top: 258px;

  @include media-breakpoint-up(md) {
    padding-top: 172px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 212px;
  }
}

.wrap {
  padding-top: 55px;
}

.wp-post-image {
  max-width: 100%;
  height: auto;

  border-radius: 4px;
}

.container-sm {
  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }

  @at-root #{&}__keep-max-width {
    margin: auto;

    @include media-breakpoint-up(sm) {
      max-width: 540px;
    }
    @include media-breakpoint-up(md) {
      max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 1320px;
    }
  }
}

.container-md {
  @include media-breakpoint-down(md) {
    min-width: 100%;
  }

  @at-root #{&}__keep-max-width {
    margin: auto;

    @include media-breakpoint-up(sm) {
      max-width: 540px;
    }
    @include media-breakpoint-up(md) {
      max-width: 750px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 930px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 1320px;
    }
  }
}

// .container-lg {
//   @include media-breakpoint-down(lg) {
//     min-width: 100%;
//   }

//   @at-root #{&}__keep-max-width {
//     margin: auto;

//     @include media-breakpoint-up(sm) {
//       max-width: 540px;
//     }
//     @include media-breakpoint-up(md) {
//       max-width: 720px;
//     }
//     @include media-breakpoint-up(lg) {
//       max-width: 960px;
//     }
//     @include media-breakpoint-up(xl) {
//       max-width: 1140px;
//     }
//     @include media-breakpoint-up(xxl) {
//       max-width: 1320px;
//     }
//   }
// }

.container-min-width-100 {
  min-width: 100%;

  @at-root #{&}--until-lg {
    @include media-breakpoint-up(lg) {
      min-width: unset;
    }
  }
}

.wp-block-image img {
  height: auto;
}

.wp-block-pullquote {
  border: 8px solid theme-color("primary");
  border-width: 8px 0 8px 0;

  p {
    font-size: 26px;
    line-height: 57px;
    // font-family: Calistoga-Regular;

    margin-bottom: 19px;

    text-align: center;
    letter-spacing: 0;

    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }

  cite {
    font-size: 14px;

    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  blockquote {
    margin: 0;
  }
}

.wp-block-quote {
  border-color: theme-color("primary");
  border-left-width: 8px;
}

.wp-block-pullquote.is-style-solid-color {
  padding: 36px 45px;

  background: theme-color("primary");

  blockquote {
    margin: 0;

    p,
    cite {
      text-align: start;

      color: $white;
    }
  }
}

.aesop-quote-component {
  font-size: 30px;

  float: none;

  margin-left: 0 !important;
  padding: 36px 45px;

  background-color: theme-color("primary") !important;

  blockquote {
    font-style: normal !important;

    margin: 0;
  }
}

.aesop-quote-component.quote-left-right {
  margin: 0;
  margin-bottom: 55px;
}

.aesop-photoset-gallery-wrap.alignfull {
  margin: 0;
}

.aesop-grid-gallery {
  width: 100% !important;
  max-width: 100%;
  margin: 0 !important;
  padding: 0;
}

.aesop-component.alignfull {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.aesop-grid-image {
  max-width: 100%;
  height: auto;
}

.wp-block-cover {
  width: 100vw;
  max-width: 100vw;
  margin-bottom: 38px !important;
  margin-left: calc(50% - 50vw) !important;

  @include media-breakpoint-up(md) {
    margin-bottom: 58px !important;
  }
}

.wp-block-cover.has-background-dim {
  background: rgba(5, 5, 5, 0.68);

  h2 {
    font-size: 50px;
    line-height: 70px;
  }

  p {
    font-size: 40px;
    line-height: 70px;
  }
}

.wp-block-button {
  margin-bottom: 30px !important;

  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 47px !important;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 59px !important;
  }

  .wp-block-button__link {
    font-family: $poppins;
    font-size: 20px;
    font-weight: bold;

    padding: 30px 84px;

    letter-spacing: 0;

    color: $white !important;
    border-radius: 0 !important;
    background: theme-color("primary");
  }
}

.wp-block-gallery {
  margin-bottom: 27px;
}

.alignwide {
  @include media-breakpoint-up(xl) {
    max-width: 90vw;
    margin: 0 calc(25% - 25vw);
  }
}

.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.embedpress-el-powered {
  display: none;
}

.aesop-image-component img {
  max-width: 100%;
}

// More padding as per this ticket: https://3.basecamp.com/4004308/buckets/18142123/todos/3859320201
.content {
  .main.container-md__keep-max-width {
    @media (min-width: 768px) and (max-width: 1024px) {
      padding-left: 50px;
    }
  }
}
