/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #790314,
  primary-dark: #53020e
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$gray-200: #ebebeb;
$gray-400: #ededed;
$gray-700: #d8d8d8;
$gray-800: #c3c2c2;

$border-color: #b0b0b0;
$gform_title-color: #4c4c4c;
$body-text-color: hsl(240, 4.35%, 22.55%);
$gform_wrapper-color: #e0e0e0;

$black: #000;
// $black: #37373c;
$white: hsl(0, 0%, 100%);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Open+Sans:wght@400;600;700&display=swap");
// $calistoga: 'Calistoga', cursive;
// $calistoga: "Poppins", sans-serif;
$calistoga: "Libre Franklin", sans-serif;
// $poppins: "Poppins", sans-serif;
$poppins: "Open Sans", sans-serif;
$extralight: 200;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Font smoothing
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$container-max-widths: (
  sm: 680px, // bumped up from 540px
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$focus-box-shadow: 0 0 0 0.5rem rgba(141, 41, 55, 0.9);
