/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.aligncenter {
  display: block;

  height: auto;
  margin: ($spacer / 2) auto;
}

.alignleft,
.alignright {
  height: auto;
  margin-bottom: ($spacer / 2);
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;

    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;

    margin-left: ($spacer / 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.wp-block-pullquote {
  padding: 25px;

  @include media-breakpoint-up(md) {
    padding: 42px;
  }

  &.is-style-solid-color blockquote {
    max-width: 100%;

    p {
      font-size: 20px;

      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
    }
  }
}

.resources_cpt .image-card__image-container img {
  filter: grayscale(0.3);
}

.img-gradient {
  position: absolute;
  top: 0;

  display: block;

  width: 100%;
  height: 100%;

  color: rgba(3, 3, 3, 0.79);
  background-image: linear-gradient(180deg, rgba(255, 252, 252, 0) 0%, rgba(3, 3, 3, 0.82) 54%);
}

// Below is code that was accidentally removed. Not sure if any needs to be changed (3/22/2021)

.archive-list {
  list-style: none;

  padding-inline-start: 0;

  li {
    margin-bottom: 30px;
  }
}

.archive-preview {
  width: 100vw;
  max-width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-top: 18px;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 42px;
  }

  &:nth-of-type(1) {
    padding-top: 0;
  }

  &:nth-of-type(2n) {
    background: #d8d8d8;
  }

  @at-root #{&}__header {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-bottom: 13px;

    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  @at-root #{&}__view-all-btn {
    padding: 4px 10px;

    @include media-breakpoint-up(md) {
      padding: 10px 28px;
    }
  }

  @at-root #{&}__title {
    font-family: $calistoga;
    font-size: 24px;

    display: inline-block;

    margin: 0;
    margin-right: 26px;

    color: black;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 17px;
    }
  }
}

.page-pressroom-data {
  overflow-x: hidden;

  .page-body {
    padding-bottom: 43px;

    @include media-breakpoint-up(md) {
      padding-bottom: 23px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 53px;
    }

    .card {
      &:hover,
      &:focus {
        a {
          text-decoration: none;
        }

        time {
          color: darken(theme-color("primary"), 15%);
        }
      }
    }
  }

  .container.container-md {
    min-width: 100%;
    padding: 0;

    > .row {
      margin: 0;
    }
  }

  main.col-xs-12.container-md__keep-max-width {
    min-width: 100%;
    padding: 0;
  }
}

.pressroom-border {
  flex: 0 0 calc(33.33333% - 30px) !important;

  margin-top: 38px;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 14px;
  padding-left: 15px;

  border: 1px solid #c3c2c2;
  border-right-width: 0;
  border-bottom-width: 0;
}

.pressroom-border:nth-of-type(1) {
  margin-left: 15px;
  padding-left: 0;

  border-left-width: 0;
}

.pressroom-border:nth-of-type(3) {
  margin-right: 15px;
}

.jobs-list {
  margin-top: 30px;
}

.jobs {
  margin-bottom: 19px;

  @include media-breakpoint-up(md) {
    margin-bottom: 16px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 24px;
  }

  .entry-title {
    font-family: $calistoga;
    font-size: 18px;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  time {
    font-size: 14px;

    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
  }
}

// .post-type-archive-resources_cpt .pagination {
//   margin-left: 15px;
// }

.resource-details {
  font-family: $poppins;
  font-size: 13px;

  text-align: center;
  letter-spacing: 0;

  @include media-breakpoint-up(md) {
    text-align: start;
  }
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
}

.post-type-archive,
.single-staff,
.blog,
.single-post {
  .container-md {
    @include media-breakpoint-only(sm) {
      min-width: initial !important;
    }
    @include media-breakpoint-only(md) {
      min-width: initial !important;
    }
  }

  .main.col-12.container-md__keep-max-width {
    @include media-breakpoint-only(sm) {
      min-width: 100% !important;
      // padding: 0 50px !important;
    }
    @include media-breakpoint-only(md) {
      min-width: 100% !important;
      // padding: 0 50px !important;
    }
  }
}

.archive-squares .card--image-left__text.card--image-left--small__text,
.staff .card--image-left__text.card--image-left--small__text {
  padding-left: 0;

  @include media-breakpoint-up(md) {
    padding-left: 18px;
  }
}
