.content-info {
  height: 431px;

  text-align: center;

  background: $white;

  mix-blend-mode: multiply;
  @include media-breakpoint-up(lg) {
    padding: 76px 0;
  }

  @at-root #{&}__menu {
    display: none !important;

    @include media-breakpoint-up(md) {
      font-family: $calistoga;
      font-size: 22px;

      display: flex !important;

      margin: auto;
      margin-bottom: 24px;
    }
  }

  @at-root #{&}__small-menu {
    font-family: $poppins;
    font-size: 14px;

    li {
      margin: 0 9px;
    }
  }

  @at-root #{&}__social-media {
    margin-bottom: 21px;
  }
}

.info {
  font-size: 11px;
}

.menu {
  font-weight: bold;

  display: flex;
  justify-content: center;

  width: 100%;

  list-style: none;

  text-transform: uppercase;

  padding-inline-start: 0;

  li {
    margin-right: 34px;

    color: theme("primary");

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}

// #menu-footer-menu .menu {
//   font-weight: normal;

//   text-transform: capitalize;
// }

[aria-label="Footer"] {
  padding-top: 60px;

  border-top: 2px solid theme-color("primary");

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;

    padding-inline-start: 0;
  }

  li {
    margin: 0 19px;
  }
}
