body {
  font-family: $poppins;
}

body.home .kairos-swoosh-background-image {
  background-image: url(../images/swoosh.svg);
  background-repeat: no-repeat;
  background-position: top 0 right -250px;
  background-size: 980px;

  @include media-breakpoint-up(sm) {
    background-position: top 0 right -60px;
    background-size: 980px;
  }
  @include media-breakpoint-up(md) {
    background-position: top 0 right -50px;
    background-size: 1120px;
  }
  @include media-breakpoint-up(lg) {
    background-position: top -10px right;
    background-size: 1170px;
  }
}

.home .banner {
  position: absolute;
}

.programs {
  padding: 49px 0;

  @at-root #{&}__title {
    margin-bottom: 33px;
  }
}

.program {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @at-root #{&}__image {
    width: 65px;
    height: 65px;

    @include media-breakpoint-up(md) {
      width: 150px;
      height: 150px;
    }
    @include media-breakpoint-up(lg) {
      width: 157px;
      height: 157px;
    }

    img {
      border-radius: 100%;
    }
  }

  h3 {
    font-size: 20px;

    text-align: center;
  }
}

.section {
  color: $black;
  // background: $white;

  // mix-blend-mode: multiply;

  @at-root #{&}--red {
    position: relative;

    color: white;

    p {
      color: white;
    }
  }

  @at-root #{&}--red-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: $white;
    background: theme-color("primary");

    mix-blend-mode: multiply;
  }

  @at-root #{&}__title {
    font-family: $calistoga;
    font-size: 26px;
    font-weight: $bold;

    padding-bottom: 31px;

    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: 32px;
    }
    @include media-breakpoint-up(md) {
      font-size: 32px;

      padding-bottom: 44px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 48px;
    }
  }
}

.updates {
  padding: 12px 0;

  @include media-breakpoint-up(md) {
    padding: 31px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 72px 0;
  }

  @at-root #{&}__presentation-image-container {
    // position: absolute;

    @at-root #{&}__wrapper {
      margin-top: -250px;

      text-align: center;

      @at-root #{&}__image {
        width: 253px;
        height: 253px;
      }
    }
  }

  @at-root #{&}__presentation-image {
    position: absolute;
    z-index: 1000;
    // top: 0;
    // width: 253px;
    // max-width: 100%;
    // height: 253px;
    // max-height: 100%;

    width: 100%;
    height: auto;

    border-radius: 100%;

    @include media-breakpoint-up(sm) {
      right: 0;
      bottom: -76px;

      max-width: 339px;
      max-height: 339px;
    }
    @include media-breakpoint-up(md) {
      bottom: -96px;

      max-width: 379px;
      max-height: 379px;
    }
    @include media-breakpoint-up(lg) {
      // top: -98px;
      max-width: 540px;
      max-height: 540px;
    }
    @include media-breakpoint-up(xl) {
      // top: -68px;
      // max-width: 485px;
      // max-height: 485px;
    }
  }

  @at-root #{&}__row-one {
    position: relative;

    margin-top: 162px;
    padding: 54px 0;

    @include media-breakpoint-up(md) {
      margin-top: 0;

      background: transparent;
    }

    .section--red-background {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    article {
      padding-left: 0 !important;
    }

    header {
      // margin-bottom: 15px;
      margin-bottom: -5px;

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
      }

      time {
        margin-bottom: 0;
      }
    }
  }

  @at-root #{&}__row-two {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 65px 0;
    // background: theme-color("primary");

    header {
      margin-bottom: 0;

      time {
        margin-bottom: 0;
      }
    }
  }

  article {
    @include media-breakpoint-up(md) {
      padding-left: 45px;

      border-left: 1px solid white;
    }
  }

  .col-sm:nth-of-type(1) article {
    padding-left: 0;

    border-left-width: 0;
  }
}

.sign-up {
  padding-bottom: 44px;
}

body.take-action {
  // There's a page called "take action" AND a component called "take action"
  padding: 0;
}

.take-action-section {
  margin-bottom: 31px;
  // height: 576px;
  padding: 31px 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 70px;
    padding: 65px 0;
  }

  h2 {
    align-self: center;

    color: $white;

    mix-blend-mode: color-dodge;
    @include media-breakpoint-up(lg) {
      align-self: flex-start;
    }
  }

  .card--take-action__body {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 16px;
    padding-bottom: 31px;

    @include media-breakpoint-up(md) {
      padding-bottom: 0 !important;
    }
    @include media-breakpoint-up(lg) {
      padding: 24px 32px;
    }
  }

  .card--take-action__title {
    font-size: 24px;
    line-height: 32px;

    width: 110%;

    color: $white;

    @include media-breakpoint-up(xl) {
      font-size: 38px;
      line-height: 40px;

      width: 100%;
    }
  }

  .card--take-action__text {
    margin: 0;
  }

  .card--take-action__button {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: center;

      max-width: 148px;
      height: 30px !important;
      padding: 0;
    }
    @include media-breakpoint-only(md) {
      width: 100%;
    }
  }
}

.social-media {
  @at-root #{&}__hr {
    margin-bottom: 48px;

    border-color: #979797;
  }

  @at-root #{&}__title {
    font-family: $poppins;
    font-size: 25px;
    font-weight: $medium;

    margin: 40px 0;
    padding: 0;

    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.social-feed {
  margin-top: 40px;

  @at-root #{&}__hr {
    position: relative;
    z-index: 10;
    top: 40px;

    width: 100%;

    border-color: #979797;
  }

  @at-root #{&}__link {
    position: relative;
    z-index: 100;

    display: block;

    width: 92px;
    height: 48px;
    margin: auto;

    text-align: center;

    color: $black;
    background-color: $white;

    svg {
      width: 48px;
      height: 48px;
    }
  }
}

.projects {
  // margin-bottom: 67px;
  margin-top: 10px;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 17px;
    margin-bottom: 47px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 74px;
  }

  @at-root #{&}__title {
    color: $black;
  }

  .project {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .project__title {
    line-height: 18px;

    @include media-breakpoint-up(md) {
      line-height: 22px;
    }
    @include media-breakpoint-up(lg) {
      line-height: 28px;
    }
  }
}

.blurb {
  margin-top: 70px;

  background-color: theme-color("primary");

  @at-root #{&}__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @at-root #{&}__text {
    font-family: $calistoga;
    font-size: 24px;
    line-height: 33px;

    margin: 0;
    padding-top: 57px;
    padding-bottom: 36px;

    text-align: center;

    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 44px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 48px;
      line-height: 74px;
    }
  }

  @at-root #{&}__btn {
    font-size: 17px;
    font-weight: $bold;

    width: 159px;
    margin-bottom: 35px;

    text-transform: uppercase;

    border: 2px solid $white;
    border-radius: 4px;
    background-color: transparent;
  }
}

.home [aria-label="Footer"] {
  border-width: 0;
}

.home .updates .card--category-feature {
  .category {
    font-size: 14px !important;

    margin-bottom: 8px;

    @include media-breakpoint-up(md) {
      font-size: 16px !important;

      margin-bottom: 4px;
    }
  }

  .entry-title {
    margin-bottom: 8px;

    @include media-breakpoint-up(md) {
      margin-bottom: 3px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 14px;
    }

    a {
      line-height: 28px;

      letter-spacing: 0;

      @include media-breakpoint-up(md) {
        line-height: 31px;
      }
      @include media-breakpoint-up(lg) {
        line-height: 46px;
      }
    }
  }
}

.home .updates {
  .category {
    margin-right: 12px;
    margin-bottom: 0;
  }

  time {
    display: block;

    margin-bottom: 20px;
    margin-left: 0;
  }
}

.home .featured-resources .card {
  border-width: 0;
}

.featured-resources {
  .section__title {
    color: black;
  }
}

#sb_instagram {
  overflow: auto;

  height: 540px;
}

// Owl Slider Custom styles
.slider {
  @include media-breakpoint-up(lg) {
    margin-top: 25px;
  }
}

.slide {
  position: relative;

  @at-root #{&}__image {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;

      width: 100vw;
      height: 100%;

      content: "";

      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6c0211 100%);
    }

    img {
      // height: 340px;
      height: 400px;

      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 400px;
      }
      @include media-breakpoint-up(lg) {
        height: 600px;
      }
    }
  }

  @at-root #{&}__title {
    h3 {
      font-family: $calistoga;
      font-size: 22px;
      line-height: 28px;

      margin-bottom: 20px;
      padding-right: 15px;

      letter-spacing: 0;

      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 31px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 50px;
        line-height: 60px;
      }
    }

    a::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";
    }

    &:hover,
    &:focus {
      a {
        text-decoration: none;
      }

      & ~ .slide__link .btn {
        cursor: pointer;

        color: $white;
        border-color: theme-color("primary-dark");
        background-color: theme-color("primary-dark");
      }
    }
  }

  @at-root #{&}__description {
    font-family: $poppins;
    font-size: 14px;
    line-height: 22px;

    margin-bottom: 20px;
    padding-right: 15px;

    letter-spacing: 0;

    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 24px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  @at-root #{&}__link {
    // margin-bottom: 25px;

    .btn {
      font-family: $calistoga;
      font-size: 16px;

      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase;

      color: $white;
      border: 1.56px solid $white;
      border-color: $white;
      border-radius: 4px;
      background-color: transparent;

      @include media-breakpoint-up(lg) {
        width: 193px;
      }
    }
  }

  @at-root #{&}__body {
    position: absolute;
    right: 0;
    bottom: 77px;
    left: 0;

    @include media-breakpoint-up(md) {
      // bottom: 29px;
      bottom: 89px;
    }
    @include media-breakpoint-up(lg) {
      bottom: 121px;
    }
  }
}

.owl-nav {
  position: relative;
  z-index: 100;

  margin-top: -68px;
  padding-bottom: 80px;

  @include media-breakpoint-up(md) {
    margin-top: -78px;
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: -96px;
  }
}

.owl-prev,
.owl-next {
  margin-right: 5px;

  svg {
    display: block;

    width: 30px !important;
    height: 30px;
    padding: 6px;

    border-radius: 4px;
    background: $white;

    @include media-breakpoint-up(lg) {
      width: 48px !important;
      height: 48px;
      padding: 11px;
    }
  }

  &:hover {
    svg {
      background: theme-color("primary-dark");

      * {
        fill: $white;
      }
    }
  }
}

.slider_pause-play-btn {
  position: relative;
  bottom: 2px;
  left: -4px;

  padding: 0;

  border-width: 0;
  background-color: transparent;

  svg {
    width: 30px !important;
    height: 30px;
    padding: 6px;

    color: theme-color("primary");
    border-width: 0;
    border-radius: 4px;
    background: white;

    @include media-breakpoint-up(md) {
      width: 48px !important;
      height: 48px;
      padding: 11px;
    }
    fill: theme-color("primary");
  }

  &:hover {
    svg {
      background: theme-color("primary-dark");

      * {
        fill: $white;
      }
    }
  }
}
