$hamburger-icon-box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, 0.5);

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header {
  width: 100%;
}

.custom-logo {
  width: 146px;
  height: auto;

  mix-blend-mode: multiply;
  object-fit: contain !important;
}

.nav-primary {
  justify-content: space-between;

  padding-top: 30px;

  @include media-breakpoint-up("lg") {
    display: flex;
    flex-direction: row;
  }

  @at-root #{&}__bottom {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;

    width: 100%;

    background: $white;
    box-shadow: $hamburger-icon-box-shadow;

    @at-root #{&}__bottom {
      li {
        display: flex;
        justify-content: center;

        min-height: 58px;
        padding-left: 0;

        text-align: center;

        border-top: 1px solid #c3c2c2;
      }

      a {
        font-family: $calistoga;
        font-size: 24px;
      }
    }

    .nav-primary__list {
      display: flex;
      flex: 1;

      li {
        flex: 1;

        margin-left: 12px;

        &:nth-of-type(1) {
          margin-left: 0;
        }

        a {
          width: 100%;
        }
      }
    }

    .nav-primary__utilities {
      display: flex;
      align-items: center;
      flex: 1;
    }

    @at-root #{&}__top {
      height: 109px;
      padding: 0 17px;

      background: #2d2d2d !important;

      @include media-breakpoint-up(md) {
        padding: 0 47px;
      }
    }

    .disclosure-nav {
      flex-direction: column;

      li {
        flex-direction: column;
      }

      @at-root #{&}__link-box {
        position: relative;

        display: flex;
        align-items: center;

        min-height: 58px;

        button {
          top: 0;
          // right: -30px; QA: 3858343267
          right: -27px;
          bottom: 0;
        }
      }

      .sub-menu {
        position: relative;
        top: 0;
        left: 0;

        display: block !important;
        overflow: hidden;

        width: 100%;
        max-height: 0;

        transition: max-height 0.25s ease;

        border-width: 0;

        @include media-breakpoint-down(lg) {
          a {
            font-size: 20px;
          }
        }

        &[data-open="true"] {
          max-height: 500px;

          transition: max-height 0.75s ease-out;
        }
      }
    }
  }

  @at-root #{&}__left {
    min-width: 130px;
    max-width: 196px;

    @include media-breakpoint-down("md") {
      margin: auto;
    }
  }

  @at-root #{&}__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    min-width: 800px;
    margin-top: 70px;

    @at-root #{&}__top {
      position: absolute;
      top: 0;
    }

    @at-root #{&}__bottom {
      font-family: $calistoga;
      // font-size: 21px; QA: 3858343267 
      font-size: 19px;
    }
  }

  @at-root #{&}__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      min-width: max-content;
    }
  }

  @at-root #{&}__social-media {
    padding-right: 12px;
    padding-left: 10px;

    svg {
      margin: 4px;

      color: theme-color("primary");

      @include media-breakpoint-up(sm) {
        color: $white;
      }
    }
  }
}

.utility-navigation {
  z-index: 1000;

  display: flex;
  align-items: center;
  flex-direction: row;

  background: theme-color("primary");

  @include media-breakpoint-down("md") {
    position: relative;

    padding-top: 20px;
  }
}

// Search - switches from dropdown in mobile to visible in tablet and desktop
.dropdown--search {
  @include media-breakpoint-up(md) {
    position: static;
  }

  .search-submit {
    flex: 1;

    width: 100%;
    height: 39px !important;

    color: $white !important;
    border: 2px solid $white !important;
    background: theme-color("primary") !important;

    @include media-breakpoint-up(lg) {
      margin-left: 20px;
    }
  }

  &.dropdown.show {
    position: inherit;

    @include media-breakpoint-up(lg) {
      position: static;
    }
  }

  .btn {
    width: 49px;
    height: 50px;

    color: theme-color("primary");

    @include media-breakpoint-up(md) {
      font-size: 11px;

      width: auto;
      height: auto;
      padding: 5px 10px;

      color: white;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  .dropdown-menu {
    z-index: 9999;
    top: 50px !important;
    right: 0;

    width: 100vw;
    margin: 0;
    padding: 10px;

    transform: none !important;

    border: 0;
    border-radius: 0;
    background-color: theme-color("primary");

    @include media-breakpoint-up(md) {
      top: 43px !important;
      right: 0;
      left: 0;

      width: auto;
    }
  }
}

.btn {
  @at-root #{&}__utility-navigation {
    font-size: 16px;
    font-weight: $bold;

    padding: 10px;

    text-transform: uppercase;

    border: 2px solid $white;
    border-radius: 4px;
    background: #2e2e2e;

    @include media-breakpoint-up(lg) {
      // font-size: 14px; QA: 3858369020
      color: theme-color("primary");
      border-right: 1px solid theme-color("primary");
      border-bottom: 1px solid rgba(theme-color("primary"), 0.05);
      border-radius: 0;
      background: $white;
    }
  }
}

// GTranslate
#gtranslate_selector {
  font-size: 16px;
  font-weight: $bold;

  text-transform: uppercase;

  color: $white;
  border: 0;
  border-radius: 0;
  background: theme-color("primary") url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;

  @extend .custom-select;
  @include font-smoothing;
  @include media-breakpoint-up(sm) {
    color: theme-color("primary");
    background-color: $white;
  }
  @include media-breakpoint-up(lg) {
    color: $white;
    background-color: theme-color("primary");
  }
}

#hamburger-icon {
  position: absolute;
  z-index: 1001;
  bottom: 80px;
  left: calc(50% - 26px);

  display: block;

  width: 53px;
  height: 53px;

  cursor: pointer;
  user-select: none;

  border-radius: 100px;
  background: theme-color("primary");
  box-shadow: $hamburger-icon-box-shadow;

  @include media-breakpoint-up(sm) {
    bottom: 63px;
    left: calc(50% - 42px);

    width: 94px;
    height: 94px;
  }
  @include media-breakpoint-up(md) {
    position: relative;
  }

  // -webkit-touch-callout: none;
  //  -khtml-user-select: none;
}

#hamburger-icon::before {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 10px);

  display: block;

  width: 21px;
  height: 3px;

  content: "";

  border-radius: 2px;
  background-color: $white;
  box-shadow: 0 6px 0 $white, 0 12px 0 $white;

  @include media-breakpoint-up(sm) {
    top: calc(50% - 16px);
    left: calc(50% - 17px);

    width: 35px;
    height: 6px;

    background-color: $white;
    box-shadow: 0 12px 0 $white, 0 24px 0 $white;
  }
}

body.flyout-open {
  #hamburger-icon::before {
    top: calc(50% - 3px);
    left: calc(50% - 15px);

    width: 31px;
    height: 6px;

    transform: rotate(45deg);

    box-shadow: none;
  }

  #hamburger-icon::after {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 15px);

    display: block;

    width: 31px;
    height: 6px;
    padding: 0;

    content: "";
    transform: rotate(-45deg);

    background-color: $white;
  }
}

#flyout-menu {
  position: fixed;
  z-index: 10;
  bottom: -400px;

  overflow-x: hidden;

  width: 100%;

  transition: 0.25s ease-in-out;

  background: $white;
}

.visually-hidden {
  position: absolute !important;

  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;

  white-space: nowrap; /* added line */
}

body.flyout-open #flyout-menu {
  bottom: 109px;

  padding-bottom: 60px;
}

.flyout-open::after {
  position: fixed;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  content: "";

  opacity: 0.8;
  background: #272626;
}

.flyout-open {
  .nav-primary .image-container {
    filter: blur(2px);
  }

  .wrap {
    filter: blur(2px);
  }
}

.ut_nav {
  min-width: fit-content;
}
