.page-head {
  margin-bottom: 30px;
}

.page-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  padding-top: 9px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  color: $white;
  background-color: theme-color("primary");

  mix-blend-mode: multiply;
  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 27px;
    padding-bottom: 30px;

    text-align: start;
  }
  // @include media-breakpoint-up(xl) {
  //   height: 173px;
  // }
}

.subpage-container {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;

    height: 68px;

    background: $gray-700;
  }
}

.subpages {
  font-weight: 800;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;

  list-style: none;

  text-transform: uppercase;

  padding-inline-start: 0;

  li {
    margin-right: 36px;
  }
}

.subpage-blocks {
  font-weight: 800;

  display: flex;
  flex-direction: row;

  margin: 0;

  list-style: none;

  padding-inline-start: 0;

  li {
    margin-right: 36px;
  }
}

.subpage {
  flex: 1;

  &:hover {
    position: relative;
    top: -2px;

    text-decoration: none;

    filter: brightness(1.15);
  }

  &:nth-last-of-type(1) {
    margin-right: 0;
  }

  a:hover {
    text-decoration: none;
  }

  @at-root #{&}__title {
    font-size: 13px;
    font-weight: bold;

    text-align: center;
  }

  @at-root #{&}__image {
    width: 100%;
    height: 110px;

    object-fit: cover;
    @include media-breakpoint-up(md) {
      height: 174px;
    }
  }
}

.page-body {
  margin: 22px auto;

  @include media-breakpoint-up(md) {
    margin: 33px auto;
  }
}

.image-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.breadcrumb {
  font-size: 10px;

  display: flex;
  justify-content: center;

  margin-bottom: 0;
  padding-left: 0;

  background: transparent;

  @include media-breakpoint-up(md) {
    font-size: 11px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 12px;

    justify-content: flex-start;
  }

  .breadcrumb-item {
    color: $white;

    &::before {
      color: $white;
    }

    a {
      color: $white;
    }
  }
}

.submenu-cards {
  ul {
    list-style: none;

    background: transparent;
  }

  .current_page_item > a {
    display: none;
  }

  .sub-menu {
    display: flex;

    li {
      flex: 1;
    }
  }
}

.project-details {
  font-size: 14px;
  font-weight: $bold;

  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 48px;
  padding-bottom: 15px;

  letter-spacing: 1px;
  text-transform: uppercase;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }

  @at-root #{&}__name {
    color: theme-color("primary");
  }

  a:hover {
    text-decoration: none;
  }

  @at-root #{&}__type {
    a {
      color: $black;
    }
  }
}

.project {
  margin-bottom: 26px;

  text-align: center;

  @include media-breakpoint-up("sm") {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    a {
      text-decoration: none;
    }

    img {
      filter: brightness(0.7);
    }
  }

  @at-root #{&}__title {
    font-size: 13px;
    font-weight: $bold;

    height: 30px;
    margin-right: auto;
    margin-left: auto;
    // max-width: 129px;

    text-transform: uppercase;

    @include media-breakpoint-up("sm") {
      font-size: 16px;

      max-width: 161px;
    }
    @include media-breakpoint-up("lg") {
      font-size: 22px;

      max-width: 253px;
      height: 50px;
    }

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";
    }

    @at-root #{&}--small {
      max-width: 337px;

      @include media-breakpoint-up("sm") {
        max-width: 218px;
        min-height: 45px;
      }
      @include media-breakpoint-up("md") {
        max-width: 218px;
      }
      @include media-breakpoint-up("lg") {
        max-width: 148px;
        min-height: 68px;
      }
      @include media-breakpoint-up("xl") {
        max-width: 179px;
        min-height: 45px;
      }
    }
  }

  @at-root #{&}__decorative-line {
    width: 1px;
    height: 21px;
    margin: auto;

    border-right: 1px solid #979797;

    @include media-breakpoint-up("sm") {
      height: 23px;
    }
    @include media-breakpoint-up("lg") {
      height: 48px;
    }
  }

  @at-root #{&}__image-container {
    width: 129px;
    max-width: 100%;
    height: auto;
    margin: auto;

    @include media-breakpoint-up("sm") {
      width: 155px;
    }
    @include media-breakpoint-up("lg") {
      width: 252px;
    }

    @at-root #{&}--take-action {
      width: 100%;
      // width: 337px;
      // height: 337px;

      // @include media-breakpoint-up('sm') {
      //   width: 218px;
      //   height: 218px;
      // }
      // @include media-breakpoint-up('md') {
      //   width: 149px;
      //   height: 149px;
      // }
      // @include media-breakpoint-up('lg') {
      //   width: 257px;
      //   height: 257px;
      // }
      // @include media-breakpoint-up('xl') {
      //   width: 257px;
      //   height: 257px;
      // }
    }

    // @at-root #{&}--small {
    //   width: 337px;
    //   height: 337px;

    //   @include media-breakpoint-up('sm') {
    //     width: 218px;
    //     height: 218px;
    //   }
    //   @include media-breakpoint-up('md') {
    //     width: 218px;
    //     height: 218px;
    //   }
    //   @include media-breakpoint-up('lg') {
    //     width: 148px;
    //     height: 148px;
    //   }
    //   @include media-breakpoint-up('xl') {
    //     width: 179px;
    //     height: 179px;
    //   }
    // }
  }

  @at-root #{&}__image {
    border-radius: 100%;
  }
}

.take-action {
  .project__title {
    @include media-breakpoint-only(md) {
      min-height: 68px;
    }
  }
}

.campaigns {
  margin-bottom: 50px;

  @at-root #{&}__title {
    font-size: 18px;

    height: auto !important;

    text-align: center;
    text-transform: uppercase;
  }

  &:hover,
  &:focus-within {
    a {
      text-decoration: none;
    }

    img {
      filter: brightness(0.7);
    }
  }

  @at-root #{&}__decorative-line {
    height: 28px;
  }

  @at-root #{&}__image-container {
    width: 250px !important;
    height: 250px !important;

    @include media-breakpoint-up(sm) {
      width: 130px !important;
      height: 130px !important;
    }
    @include media-breakpoint-up(md) {
      width: 155px !important;
      height: 155px !important;
    }
    @include media-breakpoint-up(lg) {
      width: 189px !important;
      height: 189px !important;
    }
    @include media-breakpoint-up(xl) {
      width: 230px !important;
      height: 230px !important;
    }

    img {
      border-radius: 125px;
    }
  }
}

.archive-card-container {
  margin-top: 30px;
}

.taxonomy-home {
  margin-bottom: 52px;

  @at-root #{&}__title {
    font-family: $calistoga;
    font-size: 30px;

    margin-bottom: 24px;

    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 38px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 34px;
    }
  }

  @at-root #{&}__button-container {
    text-align: center;
  }

  @at-root #{&}__view-all-btn {
    font-family: $calistoga;
    font-size: 16px;

    margin-bottom: 52px;
    padding: 7px 31px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}

// Reordering for the taxonomy home/preview page.
// Ex: /projects/culture-and-communications/
.sidebar {
  order: 3;

  @include media-breakpoint-up(md) {
    order: 2;
  }
}

.main-footer {
  order: 2;

  margin-top: 4px;
  padding: 15px;

  @include media-breakpoint-up(md) {
    order: 3;

    padding: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 17px;
  }
}

.card {
  border-width: 0;
  border-top: 1px solid $white;
  border-radius: 0;
  background: transparent;

  @at-root #{&}-link {
    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";
    }
  }

  @at-root #{&}--image-left {
    border-top-width: 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    @at-root #{&}__excerpt {
      margin-top: 8px;

      @include media-breakpoint-up(md) {
        margin-top: 13px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 19px;
      }
    }

    @at-root #{&}__title {
      font-family: $calistoga;

      margin-bottom: 8px;

      @include media-breakpoint-up(md) {
        margin-bottom: 17px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 24px;
      }

      > * {
        font-size: 18px;
        line-height: 23px;

        margin: 0;
        padding: 0;

        @include media-breakpoint-up(md) {
          font-size: 24px;
          line-height: 28px;

          margin-bottom: 6px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 34px;
          line-height: 35px;
        }
      }
    }

    p,
    time {
      font-size: 14px;

      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        font-size: 15px;

        margin-bottom: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 17px;

        margin-bottom: 20px;
      }
    }

    @at-root #{&}__image {
      flex: 504;

      img {
        border-radius: 4px;
      }
    }
    @at-root #{&}__text {
      flex: 582;

      padding: 12px 0;
      // @include media-breakpoint-up(md) {
      //   padding: 7px 33px 10px 33px;
      // }

      @include media-breakpoint-up(lg) {
        padding: 66px 43px 43px 43px;
      }
    }

    @at-root #{&}--small {
      header {
        position: relative;

        height: 100%;
      }

      a::before {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: "";
      }

      time {
        font-size: 13px;

        color: theme-color("primary");
      }
      @at-root #{&}__image {
        flex: 1;

        min-width: 50%;
      }
      @at-root #{&}__text {
        flex: 1;

        min-width: 50%;
        padding: 0 18px;
      }
      @at-root #{&}__title {
        > * {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }

  @at-root #{&}--category {
    border-top-width: 0;
  }

  @at-root #{&}--featured-resource {
    margin-bottom: 45px;

    @at-root #{&}__image-container {
      width: auto;
      max-height: 285px;
      margin-bottom: 25px;
    }

    @at-root #{&}__title {
      font-size: 18px;
      font-weight: $regular;

      a {
        font-family: $poppins !important;

        color: $black;
      }
    }
  }

  @at-root #{&}--take-action {
    text-align: center;

    @at-root #{&}__title {
      font-size: 20px;
      font-weight: $bold;

      @include media-breakpoint-up(sm) {
        font-size: 22px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 38px;
      }
    }

    @at-root #{&}__body {
      padding: 32px;
    }

    @at-root #{&}__button {
      font-weight: $medium;
      line-height: 33px;

      min-width: 147px;
      height: 48px;
      margin-top: 16px;
      padding: 6px 12px;

      color: theme-color("primary");
      background: $white;
    }
  }
}

.post-type-archive {
  .card--image-left {
    flex-direction: column !important;

    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row !important;

      margin-bottom: 41px;
    }

    @at-root #{&}--small {
      align-items: center;
      flex-direction: row !important;

      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 19px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 24px;
      }

      @at-root #{&}__image {
        font-size: 15px !important;
        line-height: 18px !important;

        flex: 1;

        min-width: 160px;
        margin-right: 9px;

        @include media-breakpoint-up(md) {
          font-size: 18px !important;
          line-height: 21px !important;

          margin-right: 20px;
        }
      }

      @at-root #{&}__text {
        flex: 4;

        // @include media-breakpoint-up(md) {
        // }
      }

      @at-root #{&}__title {
        flex: 4;

        h2 {
          font-size: 15px !important;
          line-height: 18px !important;

          @include media-breakpoint-up(md) {
            font-size: 18px !important;
            line-height: 21px !important;
          }
        }
      }
    }

    @at-root #{&}__title {
      margin-bottom: 9px;

      @include media-breakpoint-up(md) {
        margin-bottom: 14px;
      }

      h2 {
        font-size: 18px;
        line-height: 23px;

        @include media-breakpoint-up(md) {
          font-size: 24px;
          line-height: 28px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 34px;
          line-height: 35px;
        }
      }
    }
  }
}

// Projects page
.project.campaigns {
  margin-top: 26px;
}
