.post {
  header {
    margin-bottom: 23px;

    @include media-breakpoint-up(md) {
      margin-bottom: 28px;

      text-align: center;
      text-align: start;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 36px;
    }
  }
  @at-root #{&}__details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    padding-top: 18px;

    @include media-breakpoint-up(md) {
      align-items: flex-start;
    }
  }
  @at-root #{&}__author {
    font-weight: $bold;

    position: relative;

    .image-container {
      display: inline-block;

      width: 30px;
      height: 30px;

      img {
        border: 2px solid theme-color("primary");
        border-radius: 100px;
      }
    }

    @at-root #{&}__link {
      &::after {
        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;

        width: 100%;
        height: 100%;

        content: "";
      }
    }
  }

  @at-root #{&}__category {
    font-weight: $bold;

    text-transform: uppercase;
  }

  @at-root #{&}__date {
    font-weight: $bold;
    // margin-top: 18px;

    margin-top: 5px;

    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}

.image-card {
  position: relative;

  width: 100%;
  margin-bottom: 26px;

  // @at-root #{&}__main-link {
  //   position: absolute;
  //   bottom: 18px;
  //   left: 18px;

  //   color: $white;

  //   a::after {
  //     content: '';
  //     display: block;
  //     left: 0;
  //     top: 0;
  //     height: 100%;
  //     width: 100%;
  //     position: absolute;
  //   }
  // }

  // @at-root #{&}__category-links {
  //   position: absolute;
  //   bottom: 18px;
  //   left: 18px;

  //   color: $white;
  // }

  @at-root #{&}__body {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    padding: 18px;

    color: $white;

    @include media-breakpoint-up(md) {
      padding: 18px 22px;
    }
    @include media-breakpoint-up(lg) {
      padding: 45px 40px;
    }

    a::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";
    }

    a,
    .project-details__name {
      color: $white;
    }
  }

  .project-details.image-card__category-links {
    padding-bottom: 9px !important;

    @include media-breakpoint-up(lg) {
      padding-bottom: 19px !important;
    }
  }

  .project-details__name,
  .project-details__type {
    font-size: 11px;
    font-weight: $regular;

    position: relative;
    z-index: 100;

    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

    a {
      z-index: 100;
    }
  }

  @at-root #{&}__entry-title {
    font-size: 16px;
    font-weight: $bold;

    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  @at-root #{&}__image-container {
    height: 193px;

    @include media-breakpoint-up(md) {
      height: 219px;
    }
    @include media-breakpoint-up(lg) {
      height: 326px;
    }
  }
}

.navigation {
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  .nav-previous,
  .nav-next {
    flex: 1;
  }
}
