// .single {
//   .pressandreports {
//     display: block;
//   }

//   .entry-content {
//     @include media-breakpoint-up(md) {
//       min-height: 370px;

//       img {
//         float: left;

//         width: auto;
//         max-width: 50%;
//         height: auto;
//         margin-right: 34px;
//         margin-bottom: 34px;
//       }
//     }
//   }
// }

// .pressandreports {
//   display: flex;
//   flex-direction: column;

//   @include media-breakpoint-up(md) {
//     flex-direction: row;
//   }

//   @at-root #{&}__text {
//     flex: 1;
//     order: 2;

//     padding: 21px 0;

//     @include media-breakpoint-up(md) {
//       padding: 18px 27px;
//     }
//   }

//   @at-root #{&}__image {
//     order: 1;

//     img {
//       width: 292px;
//       height: 205px;
//       margin-bottom: 50px;

//       object-fit: cover;
//     }
//   }
// }
