.sidebar-menu {
  margin: 0 -15px;
  padding: 50px 0;

  text-align: center;

  border-top: 2px solid theme-color("primary");

  @include media-breakpoint-up(md) {
    margin: 0 0 16px 0;
    padding: 0;

    text-align: start;

    border-width: 0;
  }

  * {
    list-style: none;

    background: none;

    padding-inline-start: 0;
  }

  > li > a {
    font-family: $calistoga;
    font-size: 40px;
    font-weight: normal;
  }

  a {
    // font-size: 25px;
    font-size: 18px;
    font-weight: lighter;

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu li {
    margin-bottom: 6px;

    background: transparent;
  }
}
