.staff {
  position: relative;

  min-height: 350px;
  margin-bottom: 30px;

  @at-root #{&}__image {
    display: block;
    float: left;

    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      max-width: 50% !important;
      margin-bottom: 0;
      padding: 0 38px 38px 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 34px 19px 0;
    }
  }

  &:hover,
  &:focus-within {
    a {
      text-decoration: none;
    }

    img {
      filter: brightness(0.7);
    }
  }

  article {
    margin-bottom: 17px;

    @include media-breakpoint-up(md) {
      margin-bottom: 26px;
    }
  }

  time {
    font-size: 13px;
    font-weight: $extralight;

    color: $black;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  @at-root #{&}__link {
    margin-bottom: -7px;

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";
    }
  }

  @at-root #{&}__title {
    font-family: $calistoga;
    font-size: 20px;

    margin-top: 11px;
    margin-bottom: 4px;

    text-align: center;

    color: theme-color("primary");

    @include media-breakpoint-up(md) {
      font-size: 26px;

      margin-top: 15px;

      text-align: start;
    }
  }

  @at-root #{&}__job {
    font-size: 15px;

    display: block;

    margin-bottom: 20px;

    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 17px;

      margin-bottom: 12px;

      text-align: start;
    }
  }

  @at-root #{&}__content {
    font-size: 17px;
  }

  @at-root #{&}__updates {
    font-family: $calistoga;
    font-size: 16px;

    margin-bottom: 20px;

    color: theme-color("primary");

    @include media-breakpoint-up(md) {
      font-size: 24px;

      margin-top: 30px;
    }
  }

  img {
    border-radius: 0;
  }
}
