.updates-container {
  margin-top: 54px;
  margin-bottom: 54px;
}

// QA: https://3.basecamp.com/4004308/buckets/18142123/todos/3858395006
.home .updates .card--category-feature {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }

  .category {
    letter-spacing: 1px;
  }
}

.updates {
  .card--category-feature {
    @include media-breakpoint-up(lg) {
      min-height: 290px;
    }

    .entry-title {
      margin-bottom: 24px;

      a {
        font-family: $calistoga;
        font-size: 22px;
        font-weight: $bold;

        color: $white;

        @include media-breakpoint-up(md) {
          font-size: 24px;

          color: $black;
        }
        @include media-breakpoint-up(lg) {
          font-size: 38px;
        }
      }
    }

    p {
      color: $white;

      @include media-breakpoint-up(md) {
        color: $body-text-color;
      }
    }

    .avatar {
      border: 3px solid $white;

      @include media-breakpoint-up(md) {
        border: 3px solid theme-color("primary");
      }
    }

    .category {
      font-size: 14px;

      margin-bottom: 0;

      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 24px;

        color: theme-color("primary");
      }
    }

    time {
      font-family: $calistoga;
      font-size: 14px;

      display: block;

      margin-bottom: 14px;
      margin-left: 0;

      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 18px;

        color: $black;
      }
      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }

    .author-name {
      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 14px;

        color: theme-color("primary");
      }
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
    }
  }

  .category {
    font-size: 16px;
    font-weight: $bold;

    display: inline-block;

    margin-bottom: 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $white;
  }

  a {
    font-family: $calistoga;

    text-decoration: none;
  }

  a::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";
  }

  .entry-title {
    line-height: 24px;

    margin-bottom: 16px;

    a {
      font-family: $poppins;
      font-size: 18px;
      font-weight: $regular;

      color: $white;
    }
  }

  time {
    font-family: $calistoga;
    font-size: 16px;

    display: inline-block;

    margin-left: 31px;

    color: $white;
  }

  .author-name {
    font-size: 16px;
    font-weight: $semibold;

    color: $white;
  }

  .avatar {
    width: 56px;
    height: 56px;

    border: 3px solid $white;
    border-radius: 100px;
  }
}
