.disclosure-nav {
  display: flex;

  padding: 0;

  list-style-type: none;

  ul {
    position: absolute;

    display: block;

    min-width: 200px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    border-radius: 0;

    a {
      display: block;

      margin: 0;
      padding: 0.5em 1em;

      text-decoration: none; // TODO: Should be underline for access?

      color: theme-color("primary");
      border: 0;

      &:hover,
      &:focus {
        margin-bottom: 0;

        text-decoration: none;
      }
    }

    a:focus {
      position: relative;
      z-index: 10001;

      width: calc(100% - 14px);

      outline: 0;
      box-shadow: $focus-box-shadow;
    }
  }

  li {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0;
    // padding-left: 36px; QA: 3858343267
    padding-left: 22px;
  }

  button {
    position: absolute;
    z-index: 1000;
    right: -27px;

    display: inline-flex;
    align-items: center;

    padding: 4px 8px;

    border: 1px solid transparent;
    background: transparent;

    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }

    &[aria-expanded=true] svg {
      transform: rotate(-180deg);
    }

    svg {
      width: 13px !important;

      transition: transform 0.5s ease;
      transform-origin: center;
      pointer-events: none;

      color: theme-color("primary");

      fill: theme-color("primary");
    }
  }

  button:focus {
    // position: relative;
    border-color: theme-color("primary");
    outline: $focus-box-shadow;
  }

  // button:hover,
  // button[aria-expanded=true] {
  // color: #fff;
  // background-color: theme-color('primary');
  // }

  // button:hover::after,
  // button[aria-expanded=true]::after {
  //   border-color: #fff;
  // }

  .sub-menu {
    z-index: 10000;
    top: 39px;
    right: -30px;

    border: 1px solid black;
    background: $white;

    li {
      padding: 0;
    }

    a {
      width: 100%;
    }
  }
}

.scrollbar {
  @include media-breakpoint-down(md) {
    overflow-x: scroll;

    max-height: calc(100vh - 168px);
  }
}

.flyout-menu-toggler {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu-toggle {
  font-size: 23px;

  position: absolute;
  z-index: 10001;
  top: -46px;

  margin-left: 10px;
  padding: 30px 15px;

  color: $white;
  border-width: 0;
  border-radius: 100%;
  background: theme-color("primary");
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

#menu-toggle.visually-visible + #hamburger-icon {
  visibility: hidden;
}

// Make sub-menus visible via mouseover
.disclosure-nav__link-box:hover + .sub-menu,
.sub-menu:hover {
  display: block !important;
  visibility: visible !important;
}

.disclosure-nav__link-box:hover button svg {
  transform: rotate(-180deg);
}

.disclosure-nav__link-box {
  @include media-breakpoint-up(lg) {
    margin-right: 30px;
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
}
