/* Purpose of this page is to make links visible when tabbing around the page */
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: $focus-box-shadow;
}

.custom-select:focus,
#gtranslate_selector:focus,
.btn:focus,
.comment-form input:focus[type="submit"],
.search-form .search-submit:focus,
.btn.focus,
.comment-form input.focus[type="submit"],
.search-form .focus.search-submit {
  border-color: theme-color("primary");
  outline: 0;
  box-shadow: $focus-box-shadow;
}

a:focus-visible {
  outline-width: 10px;
  outline-style: dashed;
}

#menu-toggle:focus {
  outline-width: 0;
  box-shadow: 0 0 3px 10px rgba(0, 0, 0, 0.7);
}

.btn-container--center {
  text-align: center;
}

.btn-view-all-resources {
  font-weight: bold;

  margin-bottom: 29px;
  padding: 4px 43px;

  text-transform: uppercase;

  color: theme-color("primary");
  border-width: 2px;
  background: $white;
}
