// .tribe-common {
.nc-event {
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
  @at-root #{&}__body {
    font-size: 15px;

    order: 1;
  }

  @at-root #{&}__image {
    max-width: 100%;
    margin-bottom: 15px !important;

    @include media-breakpoint-up(md) {
      margin-bottom: 22px !important;
    }
    @include media-breakpoint-up(lg) {
      order: 2;

      max-width: 32%;
      margin-left: 25px !important;
    }
  }

  time {
    font-size: 14px;
    font-weight: $bold;

    order: 1;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: $bold;

    order: 2;

    margin: 2px 0 10px 0;

    color: theme-color("primary");

    @include media-breakpoint-up(md) {
      margin: 6px 0 14px 0;
    }
    @include media-breakpoint-up(lg) {
      margin: 10px 0 22px 0;
    }
  }
}
// }

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
  margin-top: 0;
  padding-top: 0;
}

.tribe-common-c-btn.tribe-events-c-search__button {
  background-color: theme-color("primary");
}

#tribe-events {
  padding: 0 !important;
}

.tribe-events {
  .tribe-events-nav-next,
  .tribe-events-nav-previous {
    a {
      color: theme-color("primary");
      background-color: transparent;

      &:hover {
        color: darken(theme-color("primary"), 15%);
      }
    }
  }

  .tribe-common-c-btn.tribe-events-c-search__button {
    border-radius: 4px;
    background: theme-color("primary");

    &:hover {
      background: darken(theme-color("primary"), 15%);
    }
  }

  .tribe-events-c-nav__next .tribe-events-c-nav__next-icon-svg path,
  .tribe-events-c-nav__prev .tribe-events-c-nav__prev-icon-svg path {
    fill: theme-color("primary") !important;
  }

  .tribe-events-c-nav__next[disabled] .tribe-events-c-nav__next-icon-svg path,
  .tribe-events-c-nav__prev[disabled] .tribe-events-c-nav__prev-icon-svg path {
    fill: #d5d5d5 !important;
  }
}

// .tribe-events-l-container {
//   padding: 0 0 80px 0 !important;
// }

// #tribe-events-search-container,
// #tribe-events-events-bar-keyword,
// #tribe-events-view-selector-content {
// background: $gray-200;
// }

// Hide event calendar top bar
// .tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-header__top-bar {
// display: none;
// }

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border {
  border-width: 0;
}

.tribe-events .tribe-events-c-search__input-control-icon-svg path,
#tribe-events-events-bar-keyword::placeholder {
  color: $black;
}

a.tribe-events-pro-photo__event-title-link,
a.tribe-events-pro-photo__event-title-link:visited {
  font-family: $poppins;
  font-size: 22px;
  font-weight: 900;

  color: theme-color("primary");

  &:hover,
  &:focus {
    color: darken(theme-color("primary"), 15%);
  }
}

.tribe-events-pro-photo__event-featured-image-wrapper {
  margin: 0 !important;
}

.tribe-events-pro-photo__event-details-wrapper {
  padding: 30px !important;

  // background: $gray-200;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-b2 {
  font-size: 16px;
  font-weight: 600;
}

.tribe-events-c-nav__next-label,
.tribe-events-c-nav__prev-label {
  color: theme-color("primary");
}

[disabled] .tribe-events-c-nav__next-label,
[disabled] .tribe-events-c-nav__prev-label {
  color: #d5d5d5;
}

// .tribe-events-pro-photo__event-featured-image {
//   width: 356px;
//   height: 196px !important;
//
//   object-fit: cover;
// }

.tribe-events .tribe-events-c-nav {
  border-top: 0 !important;
}

// .tribe-events-c-ical {
//   display: none;
// }

.tribe-events-ical.tribe-events-button,
.tribe-events-gcal.tribe-events-button {
  border-radius: 4px !important;
  background-color: theme-color("primary") !important;
}

.single-tribe_events .tribe-events-event-image {
  float: left;

  padding: 0 30px 0 0;
}

.tribe-events-content {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.tribe-events-schedule h2 {
  color: $black !important;
}

.tribe-events-meta-group {
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 25px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  dt::before {
    display: block;

    content: "";
  }

  dt,
  dd,
  dd * {
    font-weight: normal;

    display: inline !important;
  }

  .tribe-events-single-section-title {
    font-family: $poppins;
    font-size: 20px;

    color: $black;
  }

  .tribe-events-event-url a,
  .tribe-organizer-url a {
    display: block !important;

    color: theme-color("primary") !important;
  }
}

.tribe-events-event-meta {
  &::before {
    display: none;
  }

  dl {
    padding-left: 0;
  }

  dd {
    display: block;

    margin-bottom: 20px !important;
  }
}

.tribe-events-schedule {
  padding-left: 0 !important;

  border-width: 0 !important;
  background: none !important;
}

.tribe-common .tribe-common-anchor-thin:active,
.tribe-common .tribe-common-anchor-thin:focus,
.tribe-common .tribe-common-anchor-thin:hover {
  border-width: 0;
}

.tribe-common .tribe-common-anchor-thin {
  transition: none !important;
}

.tribe-common-a11y-visual-hide {
  position: absolute !important;
  top: -10000px;
}

.tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-daynum {
  color: theme-color("primary");
}

.tribe-events-c-messages__message.tribe-events-c-messages__message--notice {
  font-size: 30px;

  color: $black;
  background: none;
}

// Notices
a.tribe-events-c-messages__message-list-item-link.tribe-common-anchor-thin-alt {
  color: theme-color("primary");
  border-width: 0;

  &:hover,
  &:focus {
    transition: none;
    text-decoration: underline;

    color: darken(theme-color("primary"), 15%);
    border-width: 0;
  }
}

.tribe-events .tribe-events-c-messages__message--notice .tribe-events-c-messages__message-icon-svg {
  display: none;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row {
  margin: 0;
}

.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8 {
  font-family: $poppins;
}

.tribe-events .tribe-events-calendar-list__month-separator-text {
  font-size: 24px !important;
  font-weight: $bold;
}

.tribe-events .tribe-events-calendar-list__month-separator::after {
  display: none;
}

.tribe-events-c-ical {
  display: none;
}

.tribe-common-form-control-text.tribe-events-c-search__input-control.tribe-events-c-search__input-control--keyword {
  margin-right: 20px;
}

#tribe-events-events-bar-keyword {
  padding-left: 45px !important;
}

// Upcoming btn
.tribe-events-c-top-bar__datepicker-button {
  display: none !important;
}

// Singles event title
.tribe-events-single-event-title {
  display: none !important;
}

// Single meta details
.tribe-events-single-section.tribe-events-event-meta {
  display: flex;
  flex-direction: column;

  width: 100%;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical {
  padding: 0 7px;

  color: white;
}

// Links

.tribe-events-event-meta a {
  color: theme-color("primary");

  &:focus,
  &:hover {
    color: darken(theme-color("primary"), 15%);
  }
}

.tribe-events-sub-nav {
  padding: 0;
}

.tribe-events-nav-previous a,
.tribe-events-nav-next a {
  color: theme-color("primary") !important;
}

.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous a::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.916 17.841L10 19.757l-9.9-9.9L10-.041l1.916 1.916-7.983 7.984z' fill='%23790314'/%3E%3C/svg%3E") 0/7px no-repeat;
}

.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-next a::after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.084 2.159L2 .243l9.9 9.9L2 20.041.084 18.126l7.983-7.984z' fill='%23790314'/%3E%3C/svg%3E") 100%/7px no-repeat;
}

#tribe-events-footer {
  border-width: 0;
}

.tribe-events-back {
  display: none;
}

.tribe-events-calendar-latest-past__event-title a {
  color: theme-color("primary");
}

.tribe-events-calendar-latest-past__event-datetime-wrapper {
  margin-bottom: 2px !important;

  @include media-breakpoint-up(md) {
    margin-bottom: -3px !important;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: -4px !important;
  }
}
