.filter {
  @at-root #{&}__wrap {
    background-color: rgba(55, 55, 60, 0.19);
  }
}

.searchandfilter {
  flex: 1 1 auto;

  padding: 20px 0;

  > ul {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 0;

    @include media-breakpoint-up(md) {
      flex-flow: row nowrap;
    }

    > li {
      flex: 0 0 100%;

      width: 100%;
      margin: 20px 0 0;
      padding: 0;

      @include media-breakpoint-up(md) {
        flex: 1;

        width: auto;
      }
      @include media-breakpoint-up(xl) {
        margin: 0;
      }

      + li {
        @include media-breakpoint-up(md) {
          padding: 0 0 0 15px;
        }
      }
    }
  }

  label,
  select,
  input,
  .select2-container {
    font-family: $poppins;

    position: relative;

    width: 100% !important;
    max-width: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;

    padding: 0 0 8px;
  }

  .sf-input-text {
    font-weight: bold;

    padding: 18px 20px;

    color: theme-color("primary");
    border-width: 0;
  }
}

.sf-input-select {
  font-size: 16px;
  font-weight: bold;

  padding: 18px 20px;

  cursor: pointer;

  color: theme-color("primary");
  border-width: 0;
  border-radius: 0;

  appearance: none;
}

.searchandfilter label::after {
  position: absolute;
  top: 21px;
  right: 21px;

  display: block;

  width: 18px;
  height: 15px;

  content: "";
  pointer-events: none;

  background: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: auto;
  background-size: 18px 15px;
}

.searchandfilter .sf-field-search label::after {
  width: 20px;
  height: 20px;

  background: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: 19px;
}
