/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  font-weight: normal;

  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.sign-up-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  // padding: 37px 0;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  @at-root #{&}__title {
    font-family: $poppins;
    font-size: 14px !important;
    font-weight: $semibold;

    flex: 1;

    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: 16px !important;

      text-align: left !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px !important;
    }
  }

  .wpforms-container {
    flex: 5;

    margin: 0;

    #wpforms-form-224 {
      display: flex;
      align-items: center;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        align-items: flex-start;
        flex-direction: row;
      }

      .wpforms-field-container {
        display: flex;
        flex: 1;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }

        .wpforms-field {
          flex: 1;
        }

        input[type="text"],
        input[type="email"] {
          font-family: $poppins;
          font-size: 17px;
          line-height: 43px;

          min-width: 100%;
          height: 43px;
          padding: 20px;

          border-width: 0;
          border-radius: 4px;

          @include media-breakpoint-up(md) {
            min-width: 90%;
          }
        }
      }

      .wpforms-submit-container {
        width: 183px;

        button[type="submit"] {
          font-family: $poppins;
          font-size: 17px;
          font-weight: $bold;
          line-height: 1;

          width: 183px;
          height: 43px;

          text-transform: uppercase;

          color: $white;
          border-radius: 4px;
          background: theme-color("primary");

          &:hover,
          &:focus {
            color: darken($white, 8%);
            border-color: darken($white, 8%);
            background: darken(theme-color("primary"), 8%);
          }
        }
      }
    }
  }
}

input:focus {
  box-shadow: $focus-box-shadow !important;
}

.take-action {
  .btn:focus,
  button:focus,
  input:focus {
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0.8) !important;
  }
}

.gform_title {
  font-weight: 400 !important;

  text-transform: uppercase;

  color: $gform_title-color;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 17px 11px !important;

  border: 1px solid $border-color !important;
}

input[type="submit"] {
  font-size: 14px !important;
  font-weight: 700;

  width: 100% !important;
  margin-top: 20px !important;
  padding: 22px 0;

  text-transform: uppercase;

  color: $white;
  border-width: 0;
  border-radius: 3px;
  background: theme-color("primary");

  @include media-breakpoint-up(md) {
    margin-top: 0 !important;
  }
}

.gfield_label {
  font-size: 14px !important;
  font-weight: 500 !important;

  margin-top: 10px;
  margin-bottom: 0;
}

.gform_heading {
  text-align: center;
}

.gform_heading::after {
  display: block;

  width: 20%;
  margin: auto;

  content: "";

  border-bottom: 1px solid $border-color;
}

.gform_wrapper {
  padding: 27px;

  border: 1px solid $gform_wrapper-color;
  border-bottom-width: 0;
}

.signup--home {
  h2 {
    font-family: $poppins !important;
    font-size: 14px !important;
    font-weight: $semibold !important;
    line-height: 22px;

    align-self: center;
    flex: 1;

    min-width: 190px;
    margin: 0 !important;
    margin-top: -30px !important;
    margin-right: 22px;
    margin-bottom: 30px !important;

    text-align: center;

    border-bottom-width: 0 !important;

    @include media-breakpoint-down(sm) {
      margin-top: -31px !important;
    }
    @include media-breakpoint-up(md) {
      font-size: 16px !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px !important;

      margin-top: 0 !important;
      margin-bottom: 0 !important;

      text-align: left !important;
    }
  }

  h4,
  h4::after {
    display: none !important;

    text-align: left !important;
  }

  // country dropdown
  .country_drop_wrap {
    position: absolute;
    bottom: 0 !important;

    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      bottom: -26px !important;
      left: 488px !important;

      width: 130px !important;
      max-width: 130px !important;
      margin-bottom: 0;
    }
  }

  // ajax loading spinner icon
  .ajax-loading {
    display: none;
  }

  form li {
    list-style: none;
  }

  #logo_wrap {
    display: none;
  }

  label {
    position: absolute;
    right: 10000px;
  }

  #can_embed_form input[type=text],
  #can_embed_form input[type=password],
  #can_embed_form input[type=url],
  #can_embed_form input[type=email],
  #can_embed_form input[type=tel],
  #can_embed_form input[type=number] {
    font-family: $poppins !important;
    font-size: 17px !important;
    line-height: 43px !important;

    min-width: 100% !important;
    height: 43px !important;
    padding: 17px 11px !important;
    padding: 20px !important;

    border: 1px solid $border-color !important;
    border: 1px solid #ccc !important;
    border-width: 0 !important;
    border-radius: 4px !important;

    @include media-breakpoint-up(md) {
      line-height: 33px !important;

      min-width: 90% !important;
      height: 33px !important;
      padding: 16px !important;
    }
    @include media-breakpoint-up(lg) {
      line-height: 43px !important;

      height: 43px !important;
      padding: 20px !important;
    }
  }

  input[type="submit"] {
    font-family: $poppins !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 1 !important;

    width: 140px !important;
    height: 33px !important;
    margin: 0 !important;
    padding: 0;

    text-transform: uppercase !important;

    color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    background: #790314 !important;

    @include media-breakpoint-up(md) {
      width: 100% !important;
      width: 183px !important;
      max-width: 100% !important;
      height: 33px !important;
      height: 43px !important;
      margin-top: 20px !important;
      margin-left: 20px !important;
    }
    @include media-breakpoint-up(xl) {
      width: 130px;
      max-width: 130px;
      height: 43px !important;
      margin-top: 0 !important;
      margin-left: 0;
    }
  }

  #can_embed_form li:nth-of-type(6),
  #can_embed_form li:nth-of-type(7) {
    display: none;
  }

  #can_embed_form li {
    margin: 0 !important;

    @include media-breakpoint-up(md) {
      margin: 0 22px 0 0 !important;
    }
  }

  #form_col1 {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;

    width: 100% !important;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .international_link-wrap.js-international_link-wrap.mb10 {
    display: none !important;
  }

  #d_sharing {
    display: none !important;
  }

  #action_info {
    display: none !important;
  }

  // The submit btn container
  #form_col2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include media-breakpoint-up(md) {
      width: 183px !important;
      max-width: 183px;
    }
  }

  #new_answer {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(xl) {
      flex-wrap: nowrap;
    }

    input {
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        max-width: 130px;
        margin-bottom: 0;
      }
    }
  }

  #can_embed_form_inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .form_builder_output.js-form_builder_output {
    max-width: 22px;
  }

  #can_thank_you {
    text-align: center;

    h4 {
      display: none;
    }
  }

  #can_thank_you + .clearfix {
    display: none;
  }

  #form-country {
    max-width: 100px;
  }

  #form-zip_code {
    margin-bottom: 50px !important;

    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
  }
}

.filter__wrap {
  .searchandfilter .sf-input-text {
    border-width: 0 !important;
  }

  .searchandfilter .sf-field-search label::after {
    display: none;
  }
}
