.leaflet-popup-content {
  br {
    display: none;
  }

  div {
    font-family: $poppins;
    font-size: 13px;
    line-height: 27px;

    margin: 0;

    letter-spacing: 0;

    color: $white;
  }
}

.leaflet-popup-close-button {
  color: $white !important;
}

.leaflet-popup-tip-container {
  height: 30px !important;
}

.leaflet-popup-tip {
  width: 37px !important;
  height: 37px !important;
  margin-top: -25px !important;
}

.leaflet-popup-content-wrapper {
  font-size: 14px;

  border-radius: 0 !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: theme-color("primary") !important;
}

.leaflet-link-title {
  font-family: $poppins;
  font-size: 14px;
  font-weight: $bold;
  font-weight: bold;
  line-height: 27px;

  letter-spacing: 0;

  color: $white !important;
}

.leaflet-map {
  max-height: 80vh;
}

.network {
  padding: 0;

  @at-root #{&}__title {
    font-family: $calistoga;
    font-size: 35px;

    margin-top: 34px;
    margin-bottom: 30px;

    color: black;
  }

  @at-root #{&}__list {
    margin-top: 42px;

    list-style: none;

    padding-inline-start: 0;
    column-count: 1;
    @include media-breakpoint-up(sm) {
      column-count: 2;
    }
    @include media-breakpoint-up(md) {
      margin-top: 50px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0;

      column-count: 4;
    }

    h3 {
      line-height: 17px;

      margin-bottom: 15px;
    }

    a {
      font-size: 15px;
      font-weight: $regular;
      line-height: 0 !important;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }
}
