$menu-text-color: hsl(0, 0%, 100%);
$slimmenu-bg-color: hsl(0, 0%, 73%);
$menu-primary-navigation-bg-color: hsl(0, 0%, 0%);

/**
 * Main Menu
 */
.menu-collapser {
  font-size: 16px;
  line-height: 48px;

  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 8px;

  color: $menu-text-color;
}

.collapse-button {
  font-size: 14px;

  position: absolute;
  // top: 50%;
  right: 8px;

  box-sizing: border-box;
  width: 40px;
  padding: 7px 10px;

  cursor: pointer;
  // transform: translate(0, -50%);
  text-align: center;

  color: $menu-text-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    color: $menu-text-color;
    background-color: #040404;
  }

  .icon-bar {
    display: block;

    width: 28px;
    height: 4px;
    margin: 5px 0;

    border-radius: 1px;
    background-color: theme-color("primary");
  }
}

.slimmenu {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  &::before,
  &::after {
    display: table;

    content: "";
  }

  &::after {
    clear: both;
  }

  li {
    position: relative;

    display: inline-block;
    float: left;

    margin-right: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.075);

    &:nth-last-of-type(1) {
      margin-right: 0;

      a {
        padding-right: 0;
      }
    }

    &:hover,
    &:focus {
      & > a,
      & > .sub-toggle > i {
        color: $purple;
        background-color: $white;
      }
    }

    ul {
      width: 200px;
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        width: 100%;
      }
    }

    > ul {
      position: absolute;
      z-index: 999;
      top: 100%;
      left: 0;

      display: none;

      width: 100%;
      padding-left: 30px;

      > li ul {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 100%;

        display: none;

        width: 100%;
      }
    }

    a {
      font-size: 14px;
      font-weight: bold;

      display: block;

      padding: 10px 20px;

      color: $menu-text-color;
      border-bottom: 0;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }

      &:hover,
      &:focus {
        text-decoration: none;

        color: $purple;
        background-color: $white;
      }
    }

    li .sub-toggle {
      @include media-breakpoint-up(lg) {
        right: 0;
      }
    }

    .sub-toggle {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;

      width: 48px;
      height: 100%;

      cursor: pointer;
      text-align: center;

      background: none;
      // Need to change this depending on where the menu resizes

      @include media-breakpoint-up(sm) {
        right: -25px;

        background-color: transparent;
      }

      &::before {
        display: inline-block;

        height: 100%;
        margin-right: -0.25em;

        content: "";
        vertical-align: middle;
      }

      > i {
        font-size: 18px;

        display: inline-block;

        transform: scale(0.5);
        vertical-align: middle;

        color: $menu-text-color;
      }
    }
  }

  &.collapsed {
    li {
      display: block;

      box-sizing: border-box;
      width: 100%;

      > ul {
        position: static;

        display: none;
      }

      a {
        display: block;

        box-sizing: border-box;

        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      }

      .sub-toggle {
        height: 40px;
      }
    }
  }
}

.sub-menu {
  background: $menu-primary-navigation-bg-color;

  li {
    background: #eee;
  }
}

// #menu-primary-navigation {
//   position: absolute;
//   z-index: 100;
//   right: 0;

//   background-color: $menu-primary-navigation-bg-color;
// }

// If there are sub-sub-menus, make the menus on right side of screen show up on left
@include media-breakpoint-up(md) {
  .slimmenu {
    li:nth-child(n + 5) > ul > li ul {
      right: 100%;
      left: unset;
    }

    > li {
      border-bottom: 0;

      > a {
        font-weight: 700;

        text-transform: uppercase;
      }
    }

    li {
      a {
        padding: 12px 16px 12px 16px;
      }

      ul li {
        background-color: $slimmenu-bg-color;
      }

      > ul {
        width: auto;
        min-width: 264px;
        padding-left: 0;
      }
    }
  }

  #menu-primary-navigation {
    position: static;

    background-color: transparent;
  }
}
